
@{
    ViewBag.Title = "LoginValidation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50vh;
    }

    .text-center {
        text-align: center;
        font-size: 24px;
        
        font-style: italic;
    }

    .text-uppercase {
        text-transform: uppercase;
    }
</style>

<div class="container">
    <h1 class="text-uppercase text-center mb-5">Your account must be verified by admin. This process can take time. Please try again later.</h1>
</div>