@model List<soFine.Models.Article>
@{
    Layout = "~/Views/Specialist/Layout2.cshtml";
}
@{
    ViewBag.Title = "FirstPage";
}

<!DOCTYPE html>
<html>
<head>
    <style>
        .container {
            display: flex;
           
            margin-left: 10px;
        }
        .box {
            width: 600px;
            height: 600px;
            border: 3px solid #bc8f8f;
            margin-right: 0px;
            margin-left: 250px;
            margin-top: 40px;
            display: flex;
            flex-direction: column;
            align-items: center;
            background: white;
        }
        h1 {
            align-content: center;
            font-style: italic;
            justify-content: center;
        }
        h3 {
            font-style: italic;
        }
        button {
            --s: .25em; /* control the wave*/

            padding: .4em .5em;
            background-color: #BF4D28;
            color: #fff;
            --_s: calc(var(--s)*4) 51% repeat-x;
            --_r: calc(1.345*var(--s)) at left 50%;
            --_g1: #000 99%,#0000 101%;
            --_g2: #0000 99%,#000 101%;
            --mask: radial-gradient(var(--_r) top calc(var(--s)* 1.9),var(--_g1)) calc(50% - 2*var(--s) - var(--_i,0px)) 0/var(--_s), radial-gradient(var(--_r) top calc(var(--s)*-0.9),var(--_g2)) calc(50% - var(--_i,0px)) var(--s)/var(--_s), radial-gradient(var(--_r) bottom calc(var(--s)* 1.9),var(--_g1)) calc(50% - 2*var(--s) + var(--_i,0px)) 100%/var(--_s), radial-gradient(var(--_r) bottom calc(var(--s)*-0.9),var(--_g2)) calc(50% + var(--_i,0px)) calc(100% - var(--s))/var(--_s);
            -webkit-mask: var(--mask);
            mask: var(--mask);
            clip-path: polygon( calc(2*var(--s) - var(--_i,0px)) 0, calc(100% - var(--_i,0px)) 0, calc(100% - var(--s)) 50%, calc(100% - 2*var(--s) + var(--_i,0px)) 100%, calc(0% + var(--_i,0px)) 100%, var(--s) 50%);
            cursor: pointer;
            transition: .35s;
        }

            button.alt {
                clip-path: polygon( calc(0% - var(--_i,0px)) 0, calc(100% - 2*var(--s) - var(--_i,0px)) 0, calc(100% - var(--s)) 50%, calc(100% + var(--_i,0px)) 100%, calc(2*var(--s) + var(--_i,0px)) 100%, var(--s) 50%);
            }

            button:hover {
                --_i: calc(2*var(--s));
            }

            button.alt:hover {
                --_i: calc(-2*var(--s));
            }

            button:active {
                background-image: linear-gradient(#0004 0 0);
            }

            button:focus-visible {
                -webkit-mask: none;
                clip-path: none;
                outline-offset: .1em;
                padding-block: .2em;
                margin-block: .2em;
                transition: 0s;
            }
    </style>
</head>
<body>
    <div class="container">
        <table>
            <tr >
                <th style="width: 500px; text-align:center;">
                    <h1 >
                        Welcome back! 
                    </h1>
                    <h4 style="margin-bottom:40px;">
                        Thank you for your exceptional dedication on our site.
                    </h4>
                    <div>
                        <a href="@Url.Action("Questions", "Specialist", new { id = ViewBag.SpecialistId })">
                            <button class="btn btn-primary" style="width: 350px; height: 100px; margin-right: 20px; font-size: 25px;">Questions</button>
                        </a>
                        <a href="@Url.Action("AddArticle", "Specialist", new { id = ViewBag.SpecialistId })">
                            <button class="btn btn-primary" style="width: 350px; height: 100px; font-size: 25px;">Add article</button>
                        </a>
                    </div>
                </th>
                <th>
                    <div class="box">
                        <h3>What's new in beauty?</h3>
                        @for (int i = 0; i < Model.Count; i++)
                        {
                            <div>
                                @Html.ActionLink(Model[i].Title, "Article", new { idArticle = Model[i].Id, idSpecialist = ViewBag.SpecialistId })
                            </div>
                        }
                    </div>
                </th>
            </tr>
        </table>
    </div>
</body>
</html>