@{
    Layout = "~/Views/Admin/Layout.cshtml";
    ViewBag.Title = "Home";
}

<style>
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>

<div class="container">
    <img src="~/Pictures/siteadmin.png" alt="Image" class="img-fluid" width="650" height="650">
</div>